<body class="d-flex justify-content-center align-items-center vh-100">
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-start w-100">
      <div class="col-12 col-md-6 bg-light shadow p-3 rounded me-md-3">
        <form [formGroup]="formGroupContato">
          <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="telefone" formControlName="telefone">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="endereco" formControlName="endereco">
          </div>
          <div class="mb-3">
            <label for="aniversario" class="form-label">Data de Aniversário</label>
            <input type="date" class="form-control" id="aniversario" formControlName="aniversario">
          </div>
          <div class="mb-3 row">
            <div class="col">
              <label for="categoria" class="form-label">Categoria</label>
              <select class="form-select" id="categoria" aria-label="Default select example" formControlName="categoria">
                <option selected>Escolha uma</option>
                <option value="trabalho">Trabalho</option>
                <option value="familia">Família</option>
                <option value="faculdade">Faculdade</option>
              </select>
            </div>
            <div class="col d-flex align-items-center">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="favorito" formControlName="favorito">
                <label class="form-check-label" for="favorito">Favoritar</label>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
        </form>
      </div>
      <div class="col-12 col-md-6 mt-3 mt-md-0 bg-light shadow p-3 rounded ms-md-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Telefone</th>
              <th scope="col">Endereço</th>
              <th scope="col">Email</th>
              <th scope="col">Aniversário</th>
              <th scope="col">Categoria</th>
              <th scope="col">Favorito</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contato of contatos">
              <th scope="row">{{contato.id}}</th>
              <td>{{contato.name}}</td>
              <td>{{contato.telefone}}</td>
              <td>{{contato.endereco}}</td>
              <td>{{contato.email}}</td>
              <td>{{contato.aniversario}}</td>
              <td>{{contato.categoria}}</td>
              <td></td>
              <td class="d-flex justify-content-end">
                <button class="btn btn-success" type="button" (click)="edit(contato)">Alterar</button>
                <button class="btn btn-danger ms-3" type="button" (click)="delete(contato)">Remover</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>



