<body class="d-flex justify-content-center align-items-center vh-100">
  <div class="container">
    <div class="d-flex flex-column align-items-center w-100">
      <div class="col-12 col-md-8 bg-light shadow p-3 rounded mb-4">
        <form [formGroup]="formGroupContato">
          <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <small *ngIf="name.touched && name.hasError('required')" class="text-danger">
              *O nome é requirido
            </small>
          </div>
          <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="telefone" formControlName="telefone" placeholder="(00) 00000-0000">
            <small *ngIf="telefone.touched && telefone.hasError('required')" class="text-danger">*Telefone é requirido</small>
            <small *ngIf="telefone.touched && telefone.hasError('pattern')" class="text-danger">*Telefone só pode conter números</small>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <small *ngIf="email.touched && email.hasError('required')" class="text-danger">
              *O e-mail é requirido
            </small>
            <small *ngIf="email.touched && email.hasError('email')" class="text-danger">
              *Email requer "&#64;"
            </small>
          </div>
          <div class="mb-3">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="endereco" formControlName="endereco">
          </div>
          <div class="mb-3">
            <label for="aniversario" class="form-label">Data de Aniversário</label>
            <input type="date" class="form-control" id="aniversario" formControlName="aniversario">
          </div>
          <div class="mb-3">
            <label>Gênero:</label>
            <div>
              <input type="radio" id="masculino" formControlName="genero" value="Masculino">
              <label for="masculino">Masculino</label>
            </div>
            <div>
              <input type="radio" id="feminino" formControlName="genero" value="Feminino">
              <label for="feminino">Feminino</label>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col">
              <label for="categoria" class="form-label">Categoria</label>
              <select class="form-select" id="categoria" aria-label="Default select example" formControlName="categoria">
                <option selected>Escolha uma</option>
                <option value="Trabalho">Trabalho</option>
                <option value="Familia">Família</option>
                <option value="Faculdade">Faculdade</option>
              </select>
            </div>
            <div class="col d-flex align-items-center">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="favorito" formControlName="favorito">
                <label class="form-check-label" for="favorito">Favoritar</label>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center ">
            <button type="submit" class="btn btn-primary" [disabled]="!formGroupContato.valid" (click)="save()">Salvar</button>
          </div>

        </form>
      </div>
      <div class="col-12 col-md-10 bg-light shadow p-3 rounded">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Telefone</th>
              <th scope="col">Endereço</th>
              <th scope="col">Email</th>
              <th scope="col">Aniversário</th>
              <th scope="col">Categoria</th>
              <th scope="col">Gênero</th>
              <th scope="col">Favorito</th>
              <th scope="col" class="d-flex justify-content-center">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contato of contatos">
              <th scope="row">{{contato.id}}</th>
              <td>{{contato.name}}</td>
              <td>{{contato.telefone}}</td>
              <td>{{contato.endereco}}</td>
              <td>{{contato.email}}</td>
              <td>{{contato.aniversario}}</td>
              <td>{{contato.categoria}}</td>
              <td>{{contato.genero}}</td>
              <td>{{contato.favorito ? "&#9733;" : "Não"}}</td>
              <td class="d-flex justify-content-end">
                <button class="btn btn-success me-2" type="button" (click)="edit(contato)">Alterar</button>
                <button class="btn btn-danger" type="button" (click)="delete(contato)">Remover</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
